Repository Ubugeeei/chibivue, pull requests merged in 2024-01, with the labels that each got.

#205 fix: #202 📌 omission normalizeChildren
  book/impls/20_basic_virtual_dom/020_bit_flags/packages/runtime-core/vnode.ts
  book/impls/20_basic_virtual_dom/030_patch_keyed_children/examples/playground/src/main.ts
  book/impls/20_basic_virtual_dom/030_patch_keyed_children/examples/playground/tsconfig.json
  book/impls/20_basic_virtual_dom/040_scheduler/packages/runtime-core/vnode.ts
  book/impls/20_basic_virtual_dom/050_next_tick/packages/runtime-core/vnode.ts
  book/impls/20_basic_virtual_dom/060_other_props/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/010_ref/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/020_shallow_ref/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/030_to_ref/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/040_to_refs/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/050_computed/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/060_computed_setter/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/070_watch/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/080_watch_api_extends/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/090_watch_effect/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/100_reactive_proxy_target_type/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/110_template_refs/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/120_proxy_handler_improvement/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/130_cleanup_effects/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/140_effect_scope/packages/runtime-core/vnode.ts
  book/impls/30_basic_reactivity_system/150_other_apis/packages/runtime-core/vnode.ts
  book/impls/40_basic_component_system/010_lifecycle_hooks/packages/runtime-core/vnode.ts
  book/impls/40_basic_component_system/020_provide_inject/packages/runtime-core/vnode.ts
  book/impls/40_basic_component_system/030_component_proxy/packages/runtime-core/vnode.ts
  book/impls/40_basic_component_system/040_setup_context/packages/runtime-core/vnode.ts
Labels: online book, fix

#225 style: #224 ✨ Change the variable in JavaScript's for...of from 'let'
  book/impls/10_minimum_example/020_simple_h_function/packages/runtime-core/renderer.ts
  book/impls/10_minimum_example/030_reactive_system/packages/runtime-core/renderer.ts
  book/online-book/src/10-minimum-example/020-simple-h-function.md
  book/online-book/src/en/10-minimum-example/020-simple-h-function.md
  pnpm-lock.yaml
Labels: online book, fix

#226 feat: #223 💪 vuejs/core playground
  .eslintcache
  .gitignore
  .vscode/settings.json
  examples/vue/.gitignore
  examples/vue/README.md
  examples/vue/index.html
  examples/vue/package.json
  examples/vue/src/App.vue
  examples/vue/src/main.ts
  examples/vue/src/vite-env.d.ts
  examples/vue/tsconfig.json
  examples/vue/tsconfig.node.json
  examples/vue/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/vue-playground/generate.ts
  tools/vue-playground/helpers.ts
  tools/vue-playground/locale.ts
  tools/vue-playground/main.ts
  tools/vue-playground/prompt.ts
  tools/vue-playground/template/.gitignore
  tools/vue-playground/template/README.md
  tools/vue-playground/template/index.html
  tools/vue-playground/template/package.json
  tools/vue-playground/template/package.json.template
  tools/vue-playground/template/pnpm-lock.yaml
  tools/vue-playground/template/setup/dev.ts.template
  tools/vue-playground/template/setup/start.ts
  tools/vue-playground/template/src/App.vue
  tools/vue-playground/template/src/main.ts
  tools/vue-playground/template/src/vite-env.d.ts
  tools/vue-playground/template/tsconfig.json
  tools/vue-playground/template/tsconfig.json.template
  tools/vue-playground/template/tsconfig.node.json
  tools/vue-playground/template/vite.config.ts
  tools/vue-playground/template/vue-standalone.js.template
Labels: dx

#227 dx: #223 vuejs core hmr playground (explain on book)
  book/online-book/.vitepress/config/en.ts
  book/online-book/.vitepress/config/ja.ts
  book/online-book/src/bonus/debug-vuejs-core.md
  book/online-book/src/en/bonus/debug-vuejs-core.md
Labels: dx, online book, supplement

#229 pkg: #228 📦 configure textlint (space-between-half-and-full-width)
  .textlintrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Labels: dx

#231 supplement(parser): reason for looping and searching for tags in the function isEnd is
  book/online-book/src/10-minimum-example/070-more-complex-parser.md
  book/online-book/src/en/10-minimum-example/070-more-complex-parser.md
Labels: online book, supplement

#236 fix: 📌 Fixed a type error on import of `App.vue` in sample code.
  book/impls/10_minimum_example/070_sfc_compiler/plugin-sample/src/main.ts
  book/impls/10_minimum_example/070_sfc_compiler2/examples/playground/src/main.ts
  book/impls/10_minimum_example/070_sfc_compiler3/examples/playground/src/main.ts
  book/impls/10_minimum_example/070_sfc_compiler4/examples/playground/src/main.ts
Labels: online book, fix

#239 test: #238 ✏️ check fmt and lint on actions
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Labels: dx

#240 Fixed a tiny typo in Minimum SFC.
  book/online-book/src/10-minimum-example/090-minimum-sfc.md
Labels: online book, fix

#245 fix: 📌 Corrected typos on the Japanese page of the appendix
  book/online-book/src/bonus/hyper-ultimate-super-extreme-minimal-vue/15-min-impl.md
Labels: online book, fix

#247 chore: Correct 'node-ops' to 'nodeOps' and fix a typo on the Japanese page.
  book/online-book/src/00-introduction/040-setup-project.md
  book/online-book/src/10-minimum-example/010-create-app-api.md
  book/online-book/src/en/10-minimum-example/010-create-app-api.md
Labels: online book, fix

#248 fix docs link and code
  book/online-book/src/10-minimum-example/040-minimum-virtual-dom.md
  book/online-book/src/10-minimum-example/050-minimum-component.md
  book/online-book/src/en/10-minimum-example/040-minimum-virtual-dom.md
  book/online-book/src/en/10-minimum-example/050-minimum-component.md
Labels: fix

#242 fix: 📌Fixed type error "Cannot find module 'rollup/parseAst'"
  book/impls/00_introduction/010_project_setup/tsconfig.json
  book/impls/10_minimum_example/010_create_app/tsconfig.json
  book/impls/10_minimum_example/010_create_app2/tsconfig.json
  book/impls/10_minimum_example/020_simple_h_function/tsconfig.json
  book/impls/10_minimum_example/030_reactive_system/tsconfig.json
  book/impls/10_minimum_example/040_vdom_system/tsconfig.json
  book/impls/10_minimum_example/050_component_system/tsconfig.json
  book/impls/10_minimum_example/050_component_system2/tsconfig.json
  book/impls/10_minimum_example/050_component_system3/tsconfig.json
  book/impls/10_minimum_example/060_template_compiler/tsconfig.json
  book/impls/10_minimum_example/060_template_compiler2/tsconfig.json
  book/impls/10_minimum_example/060_template_compiler3/tsconfig.json
  book/impls/10_minimum_example/070_sfc_compiler/tsconfig.json
  book/impls/10_minimum_example/070_sfc_compiler2/tsconfig.json
  book/impls/10_minimum_example/070_sfc_compiler3/tsconfig.json
  book/impls/10_minimum_example/070_sfc_compiler4/tsconfig.json
  book/impls/20_basic_virtual_dom/010_patch_keyed_children/tsconfig.json
  book/impls/20_basic_virtual_dom/020_bit_flags/tsconfig.json
  book/impls/20_basic_virtual_dom/040_scheduler/tsconfig.json
  book/impls/20_basic_virtual_dom/050_next_tick/tsconfig.json
  book/impls/20_basic_virtual_dom/060_other_props/tsconfig.json
  book/impls/30_basic_reactivity_system/010_ref/tsconfig.json
  book/impls/30_basic_reactivity_system/020_shallow_ref/tsconfig.json
  book/impls/30_basic_reactivity_system/030_to_ref/tsconfig.json
  book/impls/30_basic_reactivity_system/040_to_refs/tsconfig.json
  book/impls/30_basic_reactivity_system/050_computed/tsconfig.json
  book/impls/30_basic_reactivity_system/060_computed_setter/tsconfig.json
  book/impls/30_basic_reactivity_system/070_watch/tsconfig.json
  book/impls/30_basic_reactivity_system/080_watch_api_extends/tsconfig.json
  book/impls/30_basic_reactivity_system/090_watch_effect/tsconfig.json
  book/impls/30_basic_reactivity_system/100_reactive_proxy_target_type/tsconfig.json
  book/impls/30_basic_reactivity_system/110_template_refs/tsconfig.json
  book/impls/30_basic_reactivity_system/120_proxy_handler_improvement/tsconfig.json
  book/impls/30_basic_reactivity_system/130_cleanup_effects/tsconfig.json
  book/impls/30_basic_reactivity_system/140_effect_scope/tsconfig.json
  book/impls/30_basic_reactivity_system/150_other_apis/tsconfig.json
  book/impls/40_basic_component_system/010_lifecycle_hooks/tsconfig.json
  book/impls/40_basic_component_system/020_provide_inject/tsconfig.json
  book/impls/40_basic_component_system/030_component_proxy/tsconfig.json
  book/impls/40_basic_component_system/040_setup_context/tsconfig.json
  book/impls/40_basic_component_system/050_component_slot/tsconfig.json
  book/impls/40_basic_component_system/060_slot_extend/tsconfig.json
  book/impls/40_basic_component_system/070_options_api/tsconfig.json
  book/impls/50_basic_template_compiler/010_transformer/tsconfig.json
  book/impls/50_basic_template_compiler/020_v_bind/tsconfig.json
  book/impls/50_basic_template_compiler/022_transform_expression/tsconfig.json
  book/impls/50_basic_template_compiler/025_v_on/tsconfig.json
  book/impls/50_basic_template_compiler/027_event_modifier/tsconfig.json
  book/impls/50_basic_template_compiler/027_event_modifier2/tsconfig.json
  book/impls/50_basic_template_compiler/030_fragment/tsconfig.json
  book/impls/50_basic_template_compiler/035_comment/tsconfig.json
  book/impls/50_basic_template_compiler/040_v_if_and_structural_directive/tsconfig.json
  book/impls/50_basic_template_compiler/050_v_for/tsconfig.json
  book/impls/50_basic_template_compiler/060_resolve_components/tsconfig.json
  book/impls/bonus/hyper-ultimate-super-extreme-minimal-vue/tsconfig.json
  book/online-book/src/00-introduction/040-setup-project.md
  book/online-book/src/en/00-introduction/040-setup-project.md
Labels: fix
